html {
  overflow-x: hidden;
}

body {
  background: url("../src/images/bg.png");
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
